numpy==1.26.4
transformers==4.43.0

evaluate==0.4.1
bitsandbytes==0.43.1
datasets==2.18.0
trl==0.8.6

torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0

datasets==2.18.0
accelerate==0.29.3
huggingface_hub>=0.23.2
trl==0.8.6
peft==0.10.0
tensorboard
gcsfs==2024.2.0
fsspec==2024.2.0
diffusers==0.32.2
sentence-transformers==3.4.1
